<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="dashboard.css">
  <title>Dashboard</title>
</head>
<body>
  <input type="checkbox" id="nav-toggle">
  <div class="sidebar">
    <div class="sidebar-brand">
      <h1> <span class="fab fa-asymmetrik"> </span> <span>Binar Academy</span>
      </h1>
    </div>

    <div class="sidebar-menu">
      <ul>
        <li>
          <a href="#" class="active">
            <span class="fas fa-tachometer-alt"></span>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="fas fa-users"></span>
            <span>User</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="fas fa-stream"></span>
            <span>Projects</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="fas fa-shopping-cart"></span>
            <span>Orders</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="fas fa-boxes"></span>
            <span>Inventory</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="fas fa-user-circle"></span>
            <span>Accounts</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="fas fa-tasks"></span>
            <span>Task</span>
          </a>
        </li>
      </ul>

    </div>
  </div>

  <div class="main-content">
    <header>
      <h2>
        <label for="nav-toggle">
          <span class="fas fa-bars"></span>
        </label>
        Dashboard
      </h2>

      <div class="search-wrapper">
        <span class="fas fa-search"> </span>
        <input type="search" placeholder="Search..." />

      </div>

      <div class="user-wrapper">
        <!-- <img src="https://bit.ly/3bvT89p" width="40px" height="40px" alt="profile-img"> -->
        <div class="">
          <h4>Aditya Sundawa</h4>
          <small>Super Admin</small>
        </div>
      </div>
    </header>

    <main>
      <div class="cards">
        <div class="card-single">
          <div>
            <h1>
              <%= userGame.length %>
            </h1>
            <span>User</span>
          </div>
          <div>
            <span class="fas fa-users"></span>
          </div>
        </div>

      </div>

      <div class="recent-grid">
        <div class="projects">
          <div class="card">
            <div class="card-header">
              <h2>Recent User</h2>
              <a href="/user/add"><button>Tambah User <span class="fas fa-arrow-right"></span> </button></a>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table width="100%">
                  <thead>
                    <tr>
                      <td>Name</td>
                      <td>Email</td>
                      <td>Status</td>
                      <td>Action</td>
                    </tr>
                  </thead>
                  <tbody>
                    <% userGame.forEach(i=> { %>
                      <tr>
                        <td>
                          <%= i.name %>
                        </td>
                        <td>
                          <%= i.email %>
                        </td>
                        <td>
                          <span class="status purple"></span>
                          Active
                        </td>
                        <td>
                          <a href="/user/delete/<%= i.id %>"><button>Delete User <span
                                class="fas fa-arrow-right"></span>
                            </button></a>
                          <a href="/user/update/<%= i.id %>"><button>Update User <span
                                class="fas fa-arrow-right"></span>
                            </button></a>
                        </td>
                      </tr>
                      <% }) %>
                  </tbody>

                </table>
              </div>
            </div>

          </div>

        </div>
      </div>

  </div>

  </main>
  </div>
</body>
</html>