<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="dashboard.css">
  <title>Add User</title>
</head>
<body>
  <input type="checkbox" id="nav-toggle">
  <div class="sidebar">
    <div class="sidebar-brand">
      <h1> <span class="fab fa-asymmetrik"> </span> <span>Binar Academy</span>
      </h1>
    </div>

    <div class="sidebar-menu">
      <ul>
        <li>
          <a href="#" class="active">
            <span class="fas fa-tachometer-alt"></span>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="fas fa-users"></span>
            <span>Customers</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="fas fa-stream"></span>
            <span>Projects</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="fas fa-shopping-cart"></span>
            <span>Orders</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="fas fa-boxes"></span>
            <span>Inventory</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="fas fa-user-circle"></span>
            <span>Accounts</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="fas fa-tasks"></span>
            <span>Task</span>
          </a>
        </li>
      </ul>

    </div>
  </div>

  <div class="main-content">
    <header>
      <h2>
        <label for="nav-toggle">
          <span class="fas fa-bars"></span>
        </label>
        Dashboard
      </h2>

      <div class="search-wrapper">
        <span class="fas fa-search"> </span>
        <input type="search" placeholder="Search..." />

      </div>

      <div class="user-wrapper">
        <!-- <img src="https://bit.ly/3bvT89p" width="40px" height="40px" alt="profile-img"> -->
        <div class="">
          <h4>Aditya Sundawa</h4>
          <small>Super Admin</small>
        </div>
      </div>
    </header>

    <main>
      <form action="/user/save" method="post">
        <label>Name</label><input name="name" type="text" /> <br>
        <label>Email</label><input name="email" type="text" /> <br>
        <label>Credit</label><input name="credit" type="text" /> <br>
        <label>Alamat</label><input name="alamat" type="text" /> <br>
        <label>Kelamin</label><select name="kelamin">
          <option value="lelaki">Lelaki</option>
          <option value="wanita">perempuan</option>
        </select> <br>
        <button type="submit">Simpan</button>
      </form>
    </main>
  </div>
</body>
</html>